<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% block csslink %}{% static 'blog/css/style.css' %}{% endblock csslink %}"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}CKEditor{% endblock title %}</title>
  </head>
  <body>
    {% include 'blog/components/header.html' %}
    <br />
    {% block heading %}{% endblock heading %}
    <br />
    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
